@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Sigmar', cursive;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #E6756A;
}

body::-webkit-scrollbar-track {
    background-color: #ededed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
    opacity: 1;
    transition: 0.5s ease;
}

.loading img {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 150px;
    height: 150px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header */
#header {
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 300;
    vertical-align: middle;
    background-color: #fff;
    transition: top 0.2s ease-in-out;
    overflow: hidden;
}

.logo {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav_toggle {
    display: none;
}

.nav-up {
    top: -110px;
}

#nav .gnb {
    position: relative;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    top: 0;
    right: 0;
    font-size: 1.8em;
}

.gnb .item {
    position: relative;
    display: inline;
    font-size: 1.2em;
    color: #757575;
    transition: .3s;
}

.item::before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 8px;
    opacity: 0;
    background-color: #ada5a5;
    border-radius: 8px 8px 0 0;
    transition: .3s;
}

.item:not(.is-active):hover::before {
    opacity: 1;
    bottom: -14px;
}

.item:not(.is-active):hover {
    color: #333;
}

.marker {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 8px;
    border-radius: 8px 8px 0 0;
    transition: .3s;
}

/* section */
#home,
#profile {
    position: relative;
    height: 100vh;
    min-height: 1000px;
}

#home {
    overflow: hidden;
    z-index: 200;
    background-color: #FFD577;
}

/* 타이핑 */
.intro {
    position: relative;
    width: 100%;
    top: 300px;
    left: 20%;
    text-align: left;
    color: #A27944;
}

.intro_text {
    font-size: 6rem;
}

/* 타이핑 */
.typing {
    font-size: 6rem;
    animation: cursor .5s infinite;
    -webkit-animation: cursor .5s infinite;
}

@keyframes cursor {
    0% {
        border-right: 2px solid #A27944
    }

    50% {
        border-right: 2px solid #ffffff
    }

    100% {
        border-right: 2px solid #A27944
    }
}

.intro h1 {
    font-size: 1.5rem;
    font-family: 'Noto Serif KR', serif;
}

/* 원 애니메이션 */
.ball {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #000;
}

#home .ball {
    opacity: 0.07;
    position: relative;
    right: -1300px;
    bottom: -250px;
    animation: hm_ball 3s linear infinite alternate;
}

@keyframes hm_ball {
    0% {
        right: -1220px;
        bottom: -120px;
    }

    50% {
        right: -1260px;
        bottom: -135px;
    }

    100% {
        right: -1300px;
        bottom: -150px;
    }
}

#profile {
    background-color: #A27944;
}

#profile .profile_wrap {
    display: flex;
    position: relative;
}

#profile article figure {
    padding-top: 100px;
}

#profile article figure img {
    width: 400px;
    height: 600px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}

/* 프로필 말풍선 */
.arrow_txt {
    position: relative;
    width: 500px;
    height: 150px;
    font-family: 'Noto Serif KR', serif;
}

.arrow_txt p {
    position: absolute;
    background-color: #FFD577;
    word-wrap: break-word;
    width: 500px;
    height: 150px;
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 15px;
    visibility: hidden;
    /* 특정 요소 접촉 시 이벤트 발생 */
}

.arrow_txt p::after {
    content: '';
    position: absolute;
    background-color: #FFD577;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);
    top: -2px;
    left: 10%;
}

figure:hover p {
    opacity: 1;
    visibility: visible;
}

figcaption {
    position: relative;
    top: -7px;
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
}

#profile .skill {
    padding-top: 110px;
    padding-left: 150px;
    font-family: 'Noto Serif KR', serif;
}

#profile .skill h3 {
    color: #FFD577;
    font-size: 4rem;
    position: relative;
}

#profile .skill_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    color: #000;
}

#profile .skill_list>li {
    width: 250px;
    padding-bottom: 60px;
    position: relative;
}

#profile .skill_list>li h4 {
    color: #FFD577;
    font-size: 2.6rem;
    padding-bottom: 10px;
    position: relative;
}

/* section 
.category-section {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-top: 100px;
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
    padding-bottom: 90px;
}
*/

#skill {
    height: 80vh;
    background-color: #524653;
}

#skill .c_list::after {
    clear: both;
    content: '';
    display: block;
}

#skill .c_list li {
    position: relative;
    top: 120px;
    float: left;
    font-size: 2.5rem;
    width: 25%;
    color: #141414;
    /*opacity: 0;*/
}

#skill .chart {
    position: relative;
    width: 100%;
    height: 100px;
    display: table;
    font-family: 'Noto Serif KR', serif;
}

#skill .c_list .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skill .c_list .percent::after {
    content: '%';
}

#skill canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skill .c_list .txt {
    font-weight: 300;
    display: block;
    text-align: center;
    margin-top: 20px;
}

#skill.on .c_list li {
    opacity: 1;
    top: 0;
}

#skill.on .skill1 {
    -webkit-transition: opacity 0.4s 0.6s, top 0.4s 0.6s;
    transition: opacity 0.4s 0.6s, top 0.4s 0.6s;
}

#skill.on .skill2 {
    -webkit-transition: opacity 0.4s 0.8s, top 0.4s 0.8s;
    transition: opacity 0.4s 0.8s, top 0.4s 0.8s;
}

#skill.on .skill3 {
    -webkit-transition: opacity 0.4s 1.0s, top 0.4s 1.0s;
    transition: opacity 0.4s 1.0s, top 0.4s 1.0s;
}

#skill.on .skill4 {
    -webkit-transition: opacity 0.4s 1.2s, top 0.4s 1.2s;
    transition: opacity 0.4s 1.2s, top 0.4s 1.2s;
}

#project {
    background-color: #FFD577;
    height: 215vh;
}

.category-title {
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.6;
    margin-bottom: 54px;
    color: #FFD577;
    -webkit-text-stroke: 2px black;
}

.category-title::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    content: "";
    display: block;
    width: 34px;
    height: 4px;
    background-color: #E6756A;
}

.pj_component {
    width: 1200px;
    height: 350px;
    background: rgba(0, 0, 0, 0.78);
    border: 1px solid #fff;
    border-radius: 16px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;

    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);

    opacity: 1;
}

.pj_component:not(:last-child) {
    margin-bottom: 55px;
}

.project_box {
    float: left;
}

.pj_thumbnail {
    display: block;
    position: relative;
    border-radius: 10px;
    width: 25rem;
    height: 15.625rem;
    margin: 3rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    overflow: hidden;
}

.project_img {
    width: 100%;
    height: 100%;
}

.project_box:hover .hv_caption {
    opacity: 1;
}

.hv_caption {
    position: absolute;
    background-color: rgba(204, 57, 52, 0.8);

    width: 100%;
    height: 100%;
    color: #FFD577;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    vertical-align: middle;
    font-family: 'Noto Serif KR', serif;
}

.hv_caption>.caption {
    display: inline-block;
    font-size: 1.1em;
    height: 1.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pj_content {
    position: absolute;
    width: 680px;
    height: 200px;
    -webkit-transform: translate(72%, 42%);
    transform: translate(72%, 42%);
    color: #FFD577;
    font-family: 'Noto Serif KR', serif;
}

.pj_content h3 {
    font-family: "NEXON Lv2 Gothic Bold";
    font-size: 2.5em;
}

.pj_content ul {
    margin: 1.2em 0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 3.2rem;
    font-size: 1rem;
    text-align: center;
    background: #A27944;
    color: #FFD577;
    font-family: 'Noto Serif KR', serif;
    z-index: 201;
}

#footer p {
    display: block;
    margin: 0 auto;
}

/* 작아질 경우 */
@media screen and (min-width: 320px) and (max-width: 800px) {
    .loading img {
        top: 45%;
        left: 22%;
    }

    #nav {
        display: none;
    }

    /* 햄버거 메뉴 */
    .nav_toggle .nav_toggle {
        position: relative;
        width: 2rem;
        height: 1.4rem;
    }

    .nav_toggle .nav_toggle span {
        position: absolute;
        width: 100%;
        height: 0.1rem;
        background: #fff;
        display: block;
        transition: all .3s ease-in-out;
    }

    .nav_toggle .nav_toggle span:nth-of-type(1) {
        top: 0;
    }

    .nav_toggle .nav_toggle span:nth-of-type(2) {
        top: 45%;
    }

    .nav_toggle .nav_toggle span:nth-of-type(3) {
        bottom: 0;
    }

    #home {
        min-height: auto;
    }

    .intro_text {
        font-size: 2rem;
    }

    .typing {
        font-size: 2rem;
    }

    .category-title {
        padding: 5rem 0;
    }

    .pj_component {
        width: 25%;
        height: 50vw;
    }

    .pj_thumbnail {
        display: block;
        position: relative;
        border-radius: 10px;
        width: 25rem;
        height: 15.625rem;
        margin: 3rem;
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        overflow: hidden;
    }
    
    .nav_toggle {
        width: 100px;
        display: block;
    }
}